.header {
  color: cadetblue;
}

.text {
  font-size: 40px;
}

.large-text {
  font-size: 40px;
}

.canvas-tall {
  height: 700px;
}

.player-guess {
  height: 10px;
}

.guess-container {
  height: 200px;
}

.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-container {
  width: 6vh;
  height: 6vh;
  position: relative;
  margin-bottom: 12px;
}

.drawer-button {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  -moz-box-shadow:    1px 6px 10px 2px #ccc;
  -webkit-box-shadow: 1px 6px 10px 2px #ccc;
  box-shadow:         1px 6px 10px 2px #ccc;
  margin: 0px;
  padding: 6px;
}

.drawer-button:hover {
  background-color: #A0A0A0;
}

.drawer-button:active {
  background-color: #ECECEC;
}

.drawer-button-selected {
  background-color: rgb(20, 173, 20);
}

.drawer-button-selected:hover {
  background-color: #3b8b3f;
}

.drawer-button-selected:active {
  background-color: hsl(118, 29%, 64%);
}

.drawer-button svg {
  width: 80%;
  height: auto;  
}

.paintButtonContainer {
  margin: 20px;
  width: 60px;
  height: 60px;
  border-radius: 10px;
  -moz-box-shadow:    1px 6px 10px 2px #ccc;
  -webkit-box-shadow: 1px 6px 10px 2px #ccc;
  box-shadow:         1px 6px 10px 2px #ccc;
}

.colorPickerContainer {
  justify-content: center;
  height: 200px;
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  transform: rotate(90deg);
}

.big-input {
  font-size: 40px;
}

.icon {
  display: inline-block;
  width: 100%;
  height: 100%;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}
.icon-paintbrush {
  width: 0.98046875em;
  font-size: 40px;
}

.icon-undo {
  width: 0.9580078125em;
  font-size: 40px;
  transform: scaleX(-1) rotate(90deg);
}

.color-range {
  position: relative;
  z-index: 1;
  appearance: none;
  border-radius: 0.5em;
  background-color: rgba(0, 0, 0, 0.1);
  height: 0.5em;
  width: 100%;
  display: block;
  outline: none;
  margin: 4rem auto;
  transition: color 0.05s linear;
  background: linear-gradient(to right, #f00, #ff0, #0f0, #0ff, #00f, #f0f, #f00);
}
.color-range:focus {
  outline: none;
}
.color-range:active, .color-range:hover:active {
  cursor: grabbing;
  cursor: -webkit-grabbing;
}
.color-range::-moz-range-track {
  appearance: none;
  opacity: 0;
  outline: none !important;
}
.color-range::-ms-track {
  outline: none !important;
  appearance: none;
  opacity: 0;
}
.color-range::-webkit-slider-thumb {
  height: 3em;
  width: 3em;
  border-radius: 2em;
  appearance: none;
  background: white;
  cursor: pointer;
  cursor: move;
  cursor: grab;
  cursor: -webkit-grab;
  border: 0.4em solid currentColor;
  transition: border 0.1s ease-in-out, box-shadow 0.2s ease-in-out, transform 0.1s ease-in-out;
  box-shadow: 0 0.1em 0.1em rgba(0, 0, 0, 0.05);
}
.color-range::-webkit-slider-thumb:active, .color-range::-webkit-slider-thumb:hover:active {
  cursor: grabbing;
  cursor: -webkit-grabbing;
  transform: scale(0.975);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
  border: 1.5em solid currentColor;
}
.color-range::-webkit-slider-thumb:hover {
  transform: scale(1.1);
  box-shadow: 0 0.4em 1em rgba(0, 0, 0, 0.15);
}
.color-range::-moz-range-thumb {
  height: 3em;
  width: 3em;
  border-radius: 2em;
  appearance: none;
  background: white;
  border: 0.4em solid currentColor;
  cursor: pointer;
  cursor: move;
  cursor: grab;
  cursor: -webkit-grab;
  transition: box-shadow 0.2s ease-in-out, transform 0.1s ease-in-out;
  box-shadow: 0 1px 11px rgba(0, 0, 0, 0);
}
.color-range::-moz-range-thumb:active, .color-range::-moz-range-thumb:hover:active {
  cursor: grabbing;
  cursor: -webkit-grabbing;
  transform: scale(0.975);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
}
.color-range::-moz-range-thumb:hover {
  transform: scale(1.1);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
}

canvas {
  width: 100%;
  height: 100%;
}

.chat-box-container {
  height: 100%; /*CHANGE THIS EVENTUALLY*/
  overflow-y: scroll;
}
.chat-box {
  list-style-type: none;
	margin: 0;
	padding: 0;
  height: 100%;
}
.chat-box li {
	padding: 5px 10px;
}
.chat-box li:nth-child(odd) {
	background: #eee;
}

.scoreboard-container {
  height: 200px; /*CHANGE THIS EVENTUALLY*/
  overflow-y: scroll;
}

#drawer-view {
  display: grid;
  height: 90vh;
  grid-template-columns: 10% 1fr auto 1fr 10%;
  grid-template-rows: auto 10% 30%;
}

#dv-canvas-controls {
  grid-column-start: 2;
  grid-column-end: 3;
  background-color: #ff0;
}

#dv-canvas {
  grid-column-start: 3;
  grid-column-end: 4;
  text-align: center;
}

#dv-canvas canvas {
  height: 60vh;
  width: 30vh;
  background-color: #A0A0A0;
}

@media screen and (max-height: 1000px) {
  #dv-canvas canvas {
    height: 80vh;
    width: 40vh;
  }
}

#dv-info {
  grid-column-start: 3;
  grid-column-end: 4;
  background-color: #0f0;

  display: inline-grid;
  grid-template-columns: 1fr auto 1fr;
}

#dv-chatbox {
  grid-column-start: 2;
  grid-column-end: 5;
  background-color: #aaa;
}


